{% set currentLang = services.sessionStorage.getLang() %}
{% set homepageJson = getExternalContent("https://cdn02.plentymarkets.com/pmsbpnokwu6a/plugin/production/marketingresource/js/HomepageContent.json") %}
{% set homepageData = homepageJson[currentLang] %}

<div class="container-max mkt-homepage">



    <div class="row">
        <div class="col-lg-12">
          {% include "dtextil::Containers.ItemLists.ItemList3" %}
        </div>

    </div>

    <hr class="my-2">

    <div class="row">
        <div class="col-lg-12">
            <h2 id="recommend-text">{% autoescape false %}{{ homepageData.texts.recommendText }}{% endautoescape %}</h2>
        </div>
    </div>

    <hr class="my-2">

    <div class="row">
        <div class="row mt-xs-0_5">
            <ul class="flex-container" id="recommended-plugins">
                {% for plugin in homepageData.recommended | shuffle %}
                    <li class="flex-item">
                        <a rel="noopener noreferrer" target="_blank" href="{{ plugin.pluginLink }}">
                            <img class="flex-image" src="{{ plugin.pluginIcon }}" />
                            <div class="flex-align-bottom">
                                <h1 class="flex-title">{% autoescape false %}{{ plugin.pluginTitle }}{% endautoescape %}</h1>
                                <div class="flex-text">{% autoescape false %}{{ plugin.pluginText }}{% endautoescape %}</div>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
